*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.resume{
    background-color: violet;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    height: auto;
    width: 100%;

}
.img{
    background-size: cover;
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
}
